<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>smtp.126.com</Smtp>
  <Port>25</Port>
  <Sysemail>zhuanyunzhongguo@126.com</Sysemail>
  <Showname>转运中国</Showname>
  <Username>zhuanyunzhongguo@126.com</Username>
  <Password>zhuanyun123</Password>
</EmailConfigInfo>